.gd-display-wrapper {
  position: absolute;
  top: 75px;
  right: 5px;
  width: 215px;
  min-height: 145px;
  border-radius: 25px;
  background: #F8F8FF;
}
#linked-glass {
  color: #7CB228;
  font-weight: bold;
  font-size: 100%;
}
#gd-info-label {
  padding-top: 5px;
  padding-left: 5px;
  padding-bottom: 5px;
}
#gd-company-name {
  font-weight: bold;
}
#gd-company-rating {
  font-weight: bold;
}
#gd-company-link {
  color: #006FA6;
}
#gd-logo {
  position: absolute;
  bottom: 5px;
  left: 30px;
}
#gd-image {
  padding-left: 5px;
}